.container {
    width: 100%;
    height: 100%;
    /*border-bottom: 5px grey solid;*/
    /*    background-color:#eee;*/
    /*align-content: center;*/
}
html,
body {
    height: 100%;
    width: 100%;
}
.matrixRight {
    height: 100%;
    float: bottom;
    padding-top: 200px;
    z-index: 5;
    color: black;
    background-color: aquamarine;
    overflow-y: visible;
}
.matrixLeft {
    height: 100%;
    padding-top: 300px;
    z-index: 1;
    background-color: burlywood;
    color: black;
    writing-mode: vertical-rl;
}
.arcResult {
    height: 100%;
    z-index: 4;
    color: red;
    background-color: yellow;
    writing-mode: vertical-lr;
}
.container
{
    width:100%;
    height:50%;
    border-bottom: 5px grey solid;
/*    background-color:#eee;*/
    align-content: center;
}

